* {
    margin: 0;
    padding: 0;
}

body {
    background-color: none;
    font-family: Tahoma, sans-serif;
}

/* Start of the navbar styling */
.navbar-wrapper{
    max-width: 1200px;
    margin: auto;
    color: white;
}

nav {
    position: absolute;
    background-color: none;
    height: 80px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

nav .logo {
    float: left;
    margin-left: 20px;
    height: inherit;
}

nav .logo img {
    height: 70px;
    width: auto;
}

nav a {
    text-decoration: none;
}

nav ul {
    float: right;
    margin-right: 20px;
    height: 60px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0;
    margin-right: 5px;
    margin-top: 10px;
    transition: .2s;
}

nav ul li a {
    font-weight: 600;
    color: white;
    font-size: 17px;
    padding: 7px 10px;
}

nav li a:hover {
    transition: .4s;
    color: rgb(191, 190, 190);
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* End of the navbar styling */

/* Start of the header styling */
header{

}

header div img{
    width: 100%;
    height: 650px;
    object-fit: cover;
    margin-top: -100px;
}
/* End of the header styling */